/*importazione file reset*/
@import '_partials/reset.css';
/* /importazione file reset*/
/*importazione file common*/
@import '_partials/common.css';
/* /importazione file common*/
/*importazione file debug*/
@import '_partials/debug.css';
/* /importazione file debug*/
/*importazione file utility*/
@import '_partials/utility.css';
/* /importazione file utility*/
/*importazione file typography*/
@import '_partials/typography.css';
/* /importazione file typography*/
/*importazione file responsive*/
@import '_partials/responsive.css';
/* /importazione file responsive*/


/*
-------------
VARIABILI----
-------------
*/

:root {
    --bg-color1: #0084fd;
    --bg-color2: #b5ddff;
    --bg-color3: #9792e4;
    --bg-color4: #333333;
    --bg-color5: #fdc15f;
}


/*
--------------
CSS-----------
--------------
*/

/* HEADER */
#navbar {
    background-color: var(--bg-color1);
    padding: 10px 0;
    color: white;
}

#demo-app .flex {
    gap: 12px;
}

#navbar .container .menu {
    vertical-align: middle;
}

a.icon-menu {
    display: none;
}

#navbar .container .logo img {
    width: 100%;
    display: block;
}
/* /HEADER */

/* MAIN */
#planning .col {
    width: 50%;
}

#partners .col-80,
#about .col-80 {
    flex-grow: 2;
}

#partners .col-20,
#about .col-20 {
    width: 20%;
}

#demo-app .container .flex,
#benefits .container .flex {
    flex-wrap: wrap;
}

#benefits .flex {
    gap: 15px;
}

#benefits .row .w-30 {
    width: calc((100% - 30px) / 3)
}
/* /MAIN */

footer,
footer div.text-center {
    background-color: var(--bg-color4);
    color: white;

}
