/*importazione file reset*/
@import '_partials/reset.css';
/* /importazione file reset*/
/*importazione file common*/
@import '_partials/common.css';
/* /importazione file common*/
/*importazione file debug*/
@import '_partials/debug.css';
/* /importazione file debug*/
/*importazione file utility*/
@import '_partials/utility.css';
/* /importazione file utility*/
/*importazione file typography*/
@import '_partials/typography.css';
/* /importazione file typography*/
/*importazione file responsive*/
@import '_partials/responsive.css';
/* /importazione file responsive*/


/*
-------------
VARIABILI----
-------------
*/

:root {
    --bg-color1: #0084fd;
    --bg-color2: #b5ddff;
    --bg-color3: #9792e4;
    --bg-color4: #333333;
    --bg-color5: #fdc15f;
    --bg-color6: #ffffff;
    --bg-color7: #000000;
}


/*
--------------
CSS-----------
--------------
*/

/* HEADER */
#navbar {
    background-color: var(--bg-color1);
    padding: 10px 0;
    color: var(--bg-color6);
    font-size: 14px;
}

#navbar .flex{
    align-items: center;
}

#navbar .btn {
    background-color: var(--bg-color6);
    color: var(--bg-color7);
}

a.icon-menu {
    display: none;
}
/* /HEADER */

/* MAIN */
/* demo-app */
#demo-app .flex {
    gap: 12px;
}

#demo-app .container .row .w-70 a.btn {
    background-color: var(--bg-color1);
    color: var(--bg-color6);
    padding: 8px 48px;
}

#demo-app .container h3 {
    color: var(--bg-color1);
    margin-bottom: 36px;
}

#demo-app .container p {
    color: var(--bg-color4);
    font-weight: bold;
    margin-bottom: 36px;
}

#demo-app .container .row .w-70 {
    position: relative;
}

#demo-app .container .row .w-70,
#demo-app .container .row .w-30 {
    background-color: var(--bg-color2);
}

#demo-app .image {
    width: 250px;
    position: absolute;
    bottom: 0px;
    right: 48px;
}

#demo-app .container .row .w-30 i {
    color: var(--bg-color1);
    font-size: 80px;
    margin: 36px;
}
/* /demo-app */

/* planning */
#planning {
    background-color: var(--bg-color3);
}

#planning .container .col-50 h2 {
    padding-bottom: 36px;
}

#planning .container .col-50:first-child {
    color: var(--bg-color6);
    margin: 0 0 0 100px;
    padding: 20px;
}

#planning .container .col-50:last-child {
    color: var(--bg-color7);
    background-color: var(--bg-color6);
    margin: 200px 100px 0 0;
    padding: 40px;
    border-radius: 50px;
}

#planning .container div.col-50 {
    width: 50%;
}

#planning .container .col-50:last-child .image {
    margin-bottom: 24px;
    width: 70%;
    margin: 0 auto;
}

#planning .container .col-50:last-child .box-text h3,
#planning .container .col-50:last-child .box-text p {
    margin-bottom: 24px;
}

#planning .container .col-50 .box-text i {
    background-color: #9792e4;
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
}
/* /planning */

/* partners */
#partners .col-80,
#about .col-80 {
    flex-grow: 1;
}

#partners .container .row h2 {
    color: var(--bg-color3);
    padding: 16px 0;
}

#partners .container .row.flex {
    background-color: var(--bg-color3);
    border-radius: 50px;
    color: var(--bg-color6);
    align-items: center;
}

#partners .container .row .col-20:first-child {
    border-radius: 50%;
    background-image: url('../img/testimonial1.jpg');
    background-size: cover;
}

#partners .container .row.flex .image1 {
    background-image: url('/img/testimonial1.jpg');
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    flex-shrink: 0;
}

#partners .container .row.flex .image2 {
    background-image: url('/img/testimonial2.jpg');
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    flex-shrink: 0;
}

#partners .container .row.flex .image3 {
    background-image: url('/img/testimonial3.jpg');
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 20px;
    flex-shrink: 0;
}

#partners .container .row .col-80 p,
#partners .container .row.text-center {
    margin-bottom: 30px;
}
/* /partners */

/* benefits */
#benefits .container {
    background-color: var(--bg-color3);
    padding-top: 75px;
    padding-bottom: 75px;
}

#benefits .container .row h2 {
    color: var(--bg-color6);
    padding-bottom: 75px;
}

#demo-app .container .flex,
#benefits .container .flex {
    flex-wrap: wrap;
}

#benefits .flex {
    gap: 15px;
}

#benefits .row .w-30 h4,
#benefits .row .w-30 h3 {
    color: var(--bg-color3);
}

#benefits .row .w-30 {
    width: calc((100% - 30px) / 3);
    background-color: var(--bg-color6);
    border-radius: 50px;
    color: var(--bg-color4);
}

#benefits .btn {
    background-color: var(--bg-color3);
    color: var(--bg-color6);
    padding: 5px 40px;
    margin: 30px 0;
}
/* benefits */

/* about */
#about .col-20 {
    width: 20%;
    flex-shrink: 0;
    position: relative;
    color: var(--bg-color3);
}

#about .col-20 img {
    border-radius: 50%;
}

#about .col-20 > i {
    position: absolute;
    font-size: 70px;
    top: 0;
    right: 0;
}

#about .col-80 {
    padding-right: 40px;
    color: var(--bg-color3);
}

#about p {
    margin-top: 30px;
    color: var(--bg-color4)
}

#about .container .row .col-20 .btn {
    font-size: 12px;
    background-color: var(--bg-color3);
    color: var(--bg-color6);
    margin: 20px 0;
}

#about .container .row .col-20 .btn > i {
    margin-right: 5px;
}
/* /about */

/* free */
#free {
    background-color: var(--bg-color3);
    color: var(--bg-color6);
}

#free .container .box-text h4{
    color: var(--bg-color5);
}

#free .container .box-text .btn {
    background-color: var(--bg-color6);
    color: var(--bg-color3);
    padding: 15px 50px;
    margin: 20px 0;
}

#free .container .box-text div.privacy {
    font-size: 10px;
}

#free .container .box-text .privacy > i{
    font-size: 4px;
}
/* /free */
/* /MAIN */

/* FOOTER */
footer  {
    background-color: var(--bg-color4);
    color: white;
}

footer .privacy{
    font-size: 10px;
}

footer .privacy .text-marker {
    color: var(--bg-color3);
}

footer p {
    padding: 30px 0;
}

footer .link-footer {
    color: var(--bg-color3);
}
/* /FOOTER */