/*
-------------
COMMON-------
-------------
*/

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.medium {
    max-width: 900px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

#demo-app,
#planning, 
#partners,
#benefits,
#about,
#free {
    padding: 80px 0;
}