/*
-------------
DEBUG--------
-------------
*/
/* 
.debug .container {
    background-color: black;
} */

/* Header */
.debug li a {
    border: 1px dashed rgb(255, 255, 255);
    background-color: rgb(19, 83, 162);
}
.debug .logo {
    border: 1px dashed rgb(255, 255, 255);
    background-color: rgb(125, 172, 229);
}

.debug #navbar .only-tp {
    background-color: rgb(4, 90, 195);
    border: 1px dashed white;
}
/* /Header */

/* Main: demo-app */
.debug #demo-app {
    background-color: pink;
    border: 1px dashed white;
}

.debug #demo-app .container .row div.w-70,
.debug #demo-app .container .row div.w-30 {
    height: 345px;
    border: 1px dashed black;
    background-color: rgb(190, 54, 77);
}

.debug #demo-app .row {
    background-color: red;
}
/* /Main: demo-app */

/* Main: planning */

.debug #planning {
    background-color: rgb(19, 81, 132);
    border: 1px dashed white;
}

.debug #planning .col-50 {
    background-color: rgb(88, 157, 237);
    border: 1px dashed white;
    height: 700px;
}

.debug #planning .container .col-50 div.box-img {
    background-color: rgb(156, 205, 240);
    border: 1px dashed white;
    height: 50%;
}

.debug #planning .container .col-50 div.box-text {
    background-color: rgb(121, 171, 206);
    border: 1px dashed white;
    height: 50%;
}
/* /Main: planning */

/* Main: partners */
.debug #partners {
    background-color: rgb(131, 202, 123);
    border: 1px dashed white;
}

.debug #partners .row {
    background-color: rgb(36, 108, 47);
    border: 1px dashed black;
    height: 250px;
}

.debug #partners .text-center {
    height: 200px;
}

.debug #partners .col-20 {
    background-color: greenyellow;
    border: 1px dashed black;
}

.debug #partners .col-80 {
    background-color: rgb(86, 205, 50);
    border: 1px dashed black;
}
/* /Main: partners */

/* Main: benefits */
.debug #benefits {
    background-color: rgb(238, 255, 192);
    border: 1px dashed white;
}

.debug #benefits .container .row .w-30 {
    background-color: yellow;
    border: 1px dashed black;
    height: 410px;
}

.debug #benefits .container .row {
    background-color: rgb(206, 206, 83);
    border: 1px dashed black;
}

.debug #benefits .container .row:first-child {
    background-color: rgb(228, 218, 15);
    border: 1px dashed black;
    padding: 30px 0;
}
/* /Main: benefits */

/* Main: about */
.debug #about {
    background-color: rgb(178, 107, 233);
    border: 1px dashed white;
}

.debug #about .container .row {
    background-color: rgb(115, 68, 148);
    height: 625px;
}

.debug #about .container .row div.col-80 {
    background-color: rgb(135, 31, 204);
    border: 1px dashed black;
}

.debug #about .container .row div.col-20 {
    background-color: rgb(66, 10, 106);
    border: 1px dashed black;
}
/* /Main: about */

/* Main: free */
.debug #free {
    background-color: rgb(209, 100, 5);
    border: 1px dashed white;
}

.debug #free .container {
    background-color: rgb(223, 150, 48);
    border: 1px dashed black;
    height: 500px;
}

.debug #free .container .box-text {
    background-color: rgb(243, 122, 78);
    border: 1px dashed black;
    height: 100%;
}
/* /Main: free */

/* Footer */
.debug footer {
    height: 225px;
}
/* Footer */