/*
-------------
RESPONSIVE---
-------------
*/


/* da 0 a 991px*/
@media screen and (max-width: 991px) {

    .container {
        max-width: 960px;
        padding: 0 2rem;
    }

    /* controllare menu header*/
    #navbar .nav-links {
        display: none;
    }

    #navbar .nav-links li > a:first-child {
        display: block;
    }
    /* /controllare menu header */

    #planning .flex {
        flex-direction: column;
    }

    #planning .flex .col {
        width: 100%;
    }

    #benefits .container .flex > .w-30 {
        width: calc((100% - 15px) / 2);
    }
}
/* /da 0 a 991px*/

/* da 0 a 767px*/
@media screen and (max-width: 767px) {

    .container {
        max-width: 720px;
        padding: 0 1.8rem;
    }
    
    /* controllare menu header*/

    #demo-app .container .flex {
        flex-wrap: wrap;
    }

    #demo-app .container .row .w-70 {
        width: 100%;
    }

    #demo-app .container .row .w-30 {
        width: 100%;
    }

    #partners .container .flex{
        flex-wrap: wrap;
    } 
    
    #partners .container .row .col-20{
        width: 100%;
    } 

    #partners .container .row .col-80{
        width: 100%;
    } 

    #benefits .container .row .w-30 {
        width: 100%;
    }

    #about .container .flex {
        flex-wrap: wrap;
    }

    #about .container .row .col-80 {
        width: 100%;
    }

    #about .container .row .col-20 {
        width: 100%;
    }
    }
    /* /da 0 a 767px*/