/*
-------------
UTILITY------
-------------
*/

.flex {
    display: flex;
    gap: 12px;
}

li {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.space-b {
    justify-content: space-between;
}

a,
.logo {
    all: unset;
    display: inline-block;
    padding: 8px 12px;
}

.w-30 {
    width: calc((100% - 24px) / 3);
    flex-shrink: 0;
    border-radius: 50px;
    padding: 25px;
}

.w-70 {
    width: calc(((100% - 24px ) / 3 ) * 2 + 12px );
    flex-shrink: 0;
    border-radius: 50px;
    padding: 25px;
}

.col-50 {
    width: calc((100% / 2) - 12px);
}

.row {
    margin: 12px 0;
}

.only-tp {
    display: none;
}

.image {
    width: 100%;
    display: block;
}

.letter-space {
    letter-spacing: 3px;
}

.text-marker {
    text-decoration-line: underline;
}